.parent
{
	font-size: 16px;
}
.card-title
{
	font-size: 2rem;
	font-weight: bolder;
	align-self: right;

}
.first-alphabet-large::first-letter{
font-size: 4rem;
}
.mb-0
{
	font-size: 2rem;
}
.text1{
	font-size: 1.5rem;
	margin-top: 5%;

width:40%;
border: inset;
border-color: SlateBlue;
border-radius: 1rem;
background-color:LightGray;
}
.text2{
	font-size: 1.5rem;
	width:40%;
border: inset;
margin-left:50%;
background-color: LightGray;
border-color: SlateBlue;
border-radius: 1rem;
}
.img-fluid{
	height: 60%;
}